// GOOGLE FONTS ---> 'Josefin Sans' , 'Playfair Display'
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,700;1,500&family=Playfair+Display:wght@400;700&display=swap');
$font-regular: 400;
$font-medium: 500;
$font-bold: 700;

// BASE
*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #DCD6D3;
  --primary-text-color: #383838;
  --secondary-text-color:  #774548;
  --side-rectangle-up: #9F7562;
  --side-rectangle-down: #B7948E;
  --rectangle-center: #D3AAA2;

  --primary-font: 'Josefin Sans', 'sans-serif';
  --font-weight: $font-medium;
}

html{
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-weight: var(--font-weight);
  transform: 0.5s all ease;
}

ul{
  list-style: none;
}

a{
  text-decoration: none;
}


img{
  max-width: 100%;
  height: auto;
}

// LAYOUT

.containerAbove {
  background-color: var(--side-rectangle-up);
  height: 9vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__icons {
    display: flex;
    width: 85vw;
    justify-content: space-between;
    align-items: center;

    &__menu {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      cursor: pointer;
      transition: all .5s ease-in-out;

      &__ham {
        width: 32px;
        height: 4px;
        background-color: var(--bg-color);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255,101,47,.2);
        transition: all .5s ease-in-out;

        &::before, &::after {
          content: '';
          position: absolute;
          width: 32px;
          height: 4px;
          background: var(--bg-color);
          border-radius: 5px;
          box-shadow: 0 2px 5px rgba(255,101,47,.2);
          transition: all .5s ease-in-out;
        }

        &::before {
          transform: translateY(-9px);
        }

        &::after {
          transform: translateY(9px);
        }
      }
    }

    &__shop {
      color: var(--bg-color);
      font-size: 2.1rem;
      cursor: pointer;
    }
  }
}

// Animation of menu button
.containerAbove__icons__menu.open .containerAbove__icons__menu__ham {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}

.containerAbove__icons__menu.open .containerAbove__icons__menu__ham::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.containerAbove__icons__menu.open .containerAbove__icons__menu__ham::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

// Container over
.containerOver {
  height: 91vh;
  width: 100vw;
  position: absolute;
  background-color: var(--side-rectangle-down);
  transform: translateX(-100vw);
  transition: all .5s ease-in-out;
  z-index: 1;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

  &__text {
    font-size: 1.4rem;
    font-weight: $font-bold;
    line-height: 4rem;

    &__cos {
      text-transform: uppercase;
      letter-spacing: .14rem;
      color: var(--primary-text-color);
    }

    &__clo {
      text-transform: uppercase;
      letter-spacing: .24rem;
      color: var(--primary-text-color);
    }

    &__icons {
      color: var(--secondary-text-color);
      width: 9.8rem;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 2rem;
      cursor: pointer;
      transition: all 0.5s ease-in;

      &__insta {
        color: var(--secondary-text-color);
      }

      &__twi {
        color: var(--secondary-text-color);
      }

      &__yt {
        color: var(--secondary-text-color);
      }

      :hover {
        color: var(--bg-color);
      }
    }
  }
}

.containerOver.open {
  transform: translateX(0vw);
}

// Hero Image
.containerImage {
  background-color: #31353B;
  display: flex;
  align-items: center;
  justify-content: center;

  &__hero {
    height: 60vh;
    object-fit: cover;
  }
}

// Title Box
.containerBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    background-color: var(--rectangle-center);
    font-family: 'Playfair Display', 'sans-serif';
    text-transform: uppercase;
    font-weight: $font-bold;
    font-size: 2rem;
    width: 17rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -2.5rem;

    @media screen and (min-width: 420px) {
      font-size: 2.9rem;
      width: 25rem;
    }

    &__above {
      letter-spacing: .3rem;
      margin-top: .4rem;
    }

    &__below {
      letter-spacing: 0.2rem;
      margin-bottom: .4rem;
    }
  }
}

// Button
.containerButton {
  background-color: var(--primary-text-color);
  color: var(--bg-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: $font-bold;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 12rem;
  position: relative;
  top: -1rem;
  padding-top: .7rem;
  padding-bottom: .6rem;

  &__items {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      font-size: 2.3rem;
      margin-left: .3rem;
      margin-bottom: .2rem;
    }
  }
}

.webContainer {
  display: none;
}


// Media Query
@media screen and (min-width: 800px) {
  .containerAbove {
    display: none;
  }

  .containerImage {
    display: none;
  }

  .containerBox {
    display: none;
  }

  .webContainer {
    display: flex;
    height: 100vh;
    width: 100vw;

    &__left {
      width: 10vw;
      display: flex;
      flex-direction: column;

      &__above {
        width: 10vw;
        height: 50vh;
        background-color: var(--side-rectangle-up);
        display: flex;
        justify-content: center;
        font-size: 2rem;


        &__shop {
          color: var(--bg-color);
          margin-top: 1.5rem;
        }
        
      }

      &__below {
        width: 10vw;
        height: 50vh;
        background-color: var(--side-rectangle-down);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 2rem;

        &__insta {
          color: var(--bg-color);
          margin-bottom: 2rem;
        }

        &__twi {
          color: var(--bg-color);
          margin-bottom: 2rem;
        }

        &__yt {
          color: var(--bg-color);
        }
      }
    }

    &__center {
      width: 40vw;
      background: url(assets/img/hero_img.jpg) center/cover no-repeat;
    }

    &__right {
      width: 50vw;

      &__nav {
        padding: 2rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: $font-bold;
        display: flex;
        justify-content: right;
        letter-spacing: .1rem;

        &__t1 {
          color: var(--primary-text-color);
          margin-right: 4rem;
        }

        &__t2 {
          color: var(--primary-text-color);
          margin-right: 2rem;
        }
      }

      &__title {
        width: 38vw;
        background-color: var(--rectangle-center);
        font-size: 3.5rem;
        font-family: 'Playfair Display', 'sans-serif';
        text-transform: uppercase;
        font-weight: $font-bold;
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: center;
        margin-top: 7rem;

        @media screen and (max-width: 1100px) {
          font-size: 3rem;
        }

        @media screen and (max-width: 920px) {
          font-size: 2.5rem;
        }

        &__up {
          margin-top: 1.5rem;
          letter-spacing: .4rem;
        }

        &__down {
          margin-bottom: 1.5rem;
          letter-spacing: .16rem;

          @media screen and (max-width: 920px) {
            letter-spacing: .22rem;
          }
        }
      }
    }
  }
}

.buttonOuter {
  width: 38vw;
  display: flex;
  justify-content: right;
  align-items: center;
}

.containerButton2 {
  background-color: var(--primary-text-color);
  color: var(--bg-color);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: $font-bold;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 12rem;
  position: relative;
  top: 1.5rem;
  padding-top: .7rem;
  padding-bottom: .6rem;
  text-align: right;


  &__items {
    display: flex;
    justify-content: center;
    align-items: center;

    &__icon {
      font-size: 2.3rem;
      margin-left: .3rem;
      margin-bottom: .2rem;
    }
  }
}



